* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.file-section {
  padding: 10px;
  margin: 10px;
  border: 1px solid #333333;
  border-radius: 20px;
}

.file-form {
  text-align: center;
}

.main-text {
  font-size: 16px;
  font-weight: bold;
}

.input-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 25px;
}
.result-title {
  padding-top: 15px;
  padding-bottom: 15px;
}

.input-text {
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: bold;
  width: 200px;
  outline: none;
  font-size: 12px;
  padding: 5px;
}
.parent-error {
  position: relative;
}
.error {
  visibility: hidden;
  position: absolute;
  left: 50%;
  top: 85%;
  transform: translateX(-50%);
  color: #D71E02;
  font-size: 12px;
}
.input-file {
  display: none;
}
.button-analyzeText,
.input-fileLabel {
  width: 200px;
  padding: 5px 10px 5px 10px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #333;
  outline: none;
  &:hover {
    background-color: #333333;
    color: #ffffff;
  }
}

.modal-result {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 500;
  &-output {
    display: flex;
    flex-direction: column;
    max-height: 800px;
    min-width: 600px;
    padding: 30px;
    background-color: #ffffff;
    border: 3px solid #333333;
    border-radius: 20px;
    position: relative;
  }
  &-close {
    cursor: pointer;
    border: none;
    position: absolute;
    top: 1%;
    right: 1%;
    padding: 2px 7px 5px 7px;
    background-color: transparent;
    color: #000000;
    font-weight: bold;
  }
  &-content {
    max-height: 500px;
    overflow: auto;
    flex: 1 0 auto;
  }
}

.result-output {
  &-title {
    font-weight: bold;
    padding-bottom: 5px;
  }
  &-words {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}